name: Publish Node.js Package

on:
  push:
    branches:
      - main

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/

      - name: Install dependencies
        run: npm ci

      - name: Check if version already exists on NPM
        id: check-version
        run: |
          PACKAGE_NAME=$(node -p "require('./package.json').name")
          PACKAGE_VERSION=$(node -p "require('./package.json').version")
          if npm show $PACKAGE_NAME@$PACKAGE_VERSION > /dev/null 2>&1; then
            echo "Version already exists. Skipping publish."
            echo "should_publish=false" >> $GITHUB_ENV
          else
            echo "New version detected. Proceeding with publish."
            echo "should_publish=true" >> $GITHUB_ENV
          fi

      - name: Build Package
        run: npm run build

      - name: Publish package to NPM
        if: env.should_publish == 'true'
        run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.npm_token }}

      - name: Tag release
        if: env.should_publish == 'true'
        run: |
          PACKAGE_VERSION=$(node -p "require('./package.json').version")
          git tag v$PACKAGE_VERSION
          git push origin v$PACKAGE_VERSION
